doctype html
html( lang="en" )
    head
        meta( charset="utf-8" )/
        title Mes depot Github
        link( rel="stylesheet", href="./css/github.css" )   
    body
    
        h1 Mes depot Github
        
        ul
            each name in repos
                li= name
