doctype html
html( lang="en" )
    head
        meta( charset="utf-8" )/
        title Mes depot Github
        link( rel="stylesheet", href="./css/github.css" )   
    body
    
        h1 My Github repositories
        
        table
            thead
                tr
                    th Name
                    th Forks
                    th Issues
            body
                each repo in repos
                    tr
                        td
                            a( href="#{ repo[ 1 ] }" )= repo[ 0 ]
                        td.count= repo[ 2 ]
                        td.count= repo[ 3 ]
