body {
    font: 18px/1.6 "Avenir Next", sans-serif;
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

table, tr {
    width: 100%;
    margin: 0;
    padding: 0;
}

td, th {
    padding: .5em 0;
}

.count {
    text-align: center;
}
